.header {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}
.remove{
  font-weight: 900;
  font-size: 1em;
}
*{
  background-color:rgba(34, 54, 90, 0.959) ;
  color: white;
}
button{
  border-radius: 20px;
}
table{
  border-radius: 20px;
  
}
tbody{
  border-radius: 20px;
}