*{
    background-color: darkolivegreen;
    color: white;
}

#container{
    display: flex;
    flex-wrap: wrap;
    border-style: none;
    gap: 0.5em;
}
div{
    border: solid white 1px;
    padding: 0.5em;
    border-style: inset;
    border-radius: 20px;
    
}
h1{
    display: flex;
    justify-content: center;
}
#header{
    border-style: none;
}
button{
    background-color: darkolivegreen;
    color: white;
    border-radius: 20px;
    margin: 0.5em;
}